<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name="View.AccountInformation"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp"/>
        <activity
            android:name="View.PaymentSummary"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp"/>
        <activity
            android:name="View.MakePayment2"
            android:exported="false"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="View.MakePayment1"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="View.PayGuide"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.ProfilePage"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.ResultPage"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.Announcement"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.NewsEvent"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.StudentDashboard"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.NewUser3"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="View.NewUser2"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="View.NewUser"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="View.ExistingUser"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name="View.MainPage2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.MainPage1"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.HomePage2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name="View.HomePage1"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmafelyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>