<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/school_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        tools:targetApi="31">

        <activity
            android:name=".view.PaymentDetails"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp"/>
        <activity
            android:name=".view.ForgetPassword"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.AccountInformation"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.PaymentSummary"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.MakePayment2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.MakePayment1"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.PayGuide"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />

        <activity
            android:name=".view.Announcement"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.NewsEvent"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.StudentDashboard"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.NewUser3"
            android:exported="false"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".view.NewUser2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.NewUser"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.ExistingUser"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.MainPage2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.MainPage1"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.HomePage2"
            android:exported="false"
            android:theme="@style/Theme.EmafelyApp" />
        <activity
            android:name=".view.HomePage1"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.EmafelyApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.emafelyapp.fileProvider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>